extends layout

block content
	h1 #{title}
	form(method='POST', action='/articles/add')
		#form-group
			label Title:
			input.from-control(name='title', type='text')
		#form-group
			label Body:
			textarea.from-control(name='body')
		input.btn.btn-primary(type='submit', value='Submit')
