extends layout

block content
	h1 #{article.title}
	form(method='POST', action='/articles/edit/'+article._id)
		#form-group
			label Title:
			input.from-control(name='title', type='text' value=article.title)
		#form-group
			label Title:
			input.from-control(name='author', type='text' value=article.author)
		#form-group
			label Body:
			textarea.from-control(name='body')=article.body
		br
		input.btn.btn-primary(type='submit', value='Submit')