doctype html
html
	head
		title Codebase
		link(rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css") 
		link(rel="stylesheet" href="/css/style.css") 
	body
		nav.navbar.navbar-expand-md.navbar-dark.bg-dark
			#navbarsExampleDefault.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					li.nav-item
						a.nav-link(href='/')
							| Knowledge Base
							span.sr-only (current)
					li.nav-item
						a.nav-link(href='/') Home
						if user
							li.nav-item
								a.nav-link(href='/articles/add') Add article
				ul.nav.navbar-nav.navbar-right
					if user
						li
							a(href='/users/logout') Logout
					else
						li
							a(href='/users/register') Register
						li
							a(href='/users/login') Login


		.container
			if errors
				each error, i in errors
					div(class="alert alert-danger") #{error.msg}

			block content
			br
			hr
			footer
				p Copyright 2017   
		script(src='/bower_components/jquery/dist/jquery.js')
		script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
		script(src='/js/main.js')